/KailashSampleProject/Temp
/KailashSampleProject/Library
/KailashSampleProject/Logs
/KailashSampleProject/.idea
/KailashSampleProject/obj
/.idea/
/Library/
/Logs/
/Temp/
/Apps/
/obj/
*.csproj
/Unity.UIWidgets.Editor.csproj
/com.alelievr.NodeGraphProcessor.Editor.csproj
/com.alelievr.NodeGraphProcessor.Runtime.csproj
/Cross.csproj
/DCWindowsSDK.csproj
/DCWindowsSDK.Editor.csproj
/DCWindowsSDK.Farmework.csproj
/DCWindowsSDK.UIComponent.csproj
/Demo.csproj
/FlatBuffers.csproj
/Kailash.Action.csproj
/Kailash.Action.Editor.csproj
/Kailash.Framework.csproj
/Kailash.Framework.Editor.csproj
/Kailash.Framework.Editor.Tests.csproj
/Kailash.Framework.Tests.csproj
/Kailash.FrameworkExt.csproj
/Kailash.Graphic.csproj
/Kailash.Graphic.Editor.csproj
/Kailash.Graphic.Tests.csproj
/Kailash.Host.csproj
/Kailash.Host.Editor.csproj
/Kailash.Host.Tests.csproj
/Kailash.i18n.csproj
/Kailash.i18n.Editor.csproj
/Kailash.KGUI.csproj
/Kailash.KGUI.Editor.csproj
/Kailash.KGUI.Tests.csproj
/Kailash.Map.csproj
/Kailash.Map.Editor.csproj
/Kailash.MVVM.csproj
/Kailash.MVVM.Editor.csproj
/Kailash.Nunit.csproj
/Kailash.Nunit.HotfixFramework.csproj
/Kailash.NunitRunner.csproj
/Kailash.NunitRunner.Editor.csproj
/Kailash.Richtext.csproj
/Kailash.Richtext.Editor.csproj
/Kailash.Richtext.Tests.csproj
/Kailash.Sample.csproj
/Kailash.Sample.Editor.csproj
/Kailash.ThirdParty.csproj
/Kailash.Tween.csproj
/Kailash.Tween.Editor.csproj
/Kailash.Tween.Tests.csproj
/Kailash.Wwise.csproj
/Sample.csproj
/SDK.Adaptor.csproj
/spine-unity.csproj
/spine-unity-editor.csproj
/StandaloneAngry.csproj
/Unity.InternalAPIEngineBridge.024.csproj
/Unity.UIWidgets.csproj
/ExtAssets/StreamAssets/Kailash/
/KailashSampleProject.sln

# Visual Studio cache directory
.vs/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb

/Assets/CLRCode/
/Assets/CLRCode.meta
/ExtAssets/StreamAssets/Kailash/kailash.m
/ExtAssets/StreamAssets/Kailash/kailash.s
/ExtAssets/output/
/ExtAssets/StreamAssets/*/AssetBundles/
/Assets/Plugins/Editor.meta
/Assets/StreamingAssets/
/Assets/StreamingAssets.meta
/Assets/StreamingAssets/AssetBundles/
/Assets/StreamingAssets/AssetBundles.meta
/Tools/vscode.code-workspace
/Tools/
/BuilderConfigs/

/Assets/Editor/SimulateInfoConfig.asset
/Assets/Editor/SimulateInfoConfig.asset.meta
/Assets/MVVMBindingInfos/CantIgnorare
/Assets/MVVMBindingInfos/CantIgnorare.meta
/Assets/MVVMBindingInfos/GitIngnorare
/Assets/MVVMBindingInfos/GitIngnorare.meta
launch.json
settings.json

/Assets/MVVMBindingInfos/GitIngnorare/HierarchySettings.asset
/Assets/MVVMBindingInfos/GitIngnorare/HierarchySettings.asset.meta
/.vsconfig
/StreamingAssets
*.dll.bytes
*.dll.bytes.meta
*.bytes
*.bytes.meta
*.AbAssetHashConfig.bytes
*.AbAssetHashConfig.bytes.meta
/HybridCLRData/LocalIl2CppData/
/HybridCLRData/il2cpp_plus_repo/
/HybridCLRData/hybridclr_repo/
/HybridCLRData/HotFixDlls/
/HybridCLRData/AssembliesPostIl2CppStrip/
HybridCLRData/iOSBuild/build